@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Zen+Loop&display=swap');
* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Zen Loop', cursive;
    letter-spacing: 1.5px;
}


/***********EStilo de header *********/

.header {
    height: 85px;
}

.header .contenedor {
    display: flex;
    justify-content: space-between;
}

.logo,
.icon-menu {
    margin: 5px;
}

.icon-menu {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #3396FF;
    color: #fff;
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
    margin-left: auto;
    cursor: pointer;
}


/***********EStilo de menu *********/

.nav {
    position: absolute;
    top: 90px;
    left: -100%;
    width: 100%;
    transition: all 0.4s;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__link {
    display: block;
    padding: 15px;
    background: #0A1308;
    text-decoration: none;
    color: #fff;
}

.menu__link:hover,
select {
    background: red;
    color: #F5F4F3;
}

.mostrar {
    left: 0;
}

.select {
    background: red;
    color: #F5F4F3;
}


/***********EStilo del banner*********/

.banner {
    margin-top: -90px;
    position: relative;
    z-index: -1000;
    margin-bottom: 10px;
}

.banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    width: 100%;
    color: #DDE925;
    text-align: center;
}

.banner__txt {
    display: none;
}


/***********EStilo del info*********/

.info__columna {
    background: #3396FF;
    color: #fff;
    padding: 15px;
    margin-bottom: 30px
}


/***********EStilo del ofertas*********/

.section__titulo {
    text-align: center;
    font-size: 40px;
    color: #3396FF;
}

.ofertas__colunmna {
    position: relative;
    margin-bottom: 100px;
}

.ofertas__descripcion {
    position: absolute;
    top: 10;
    left: 10;
    color: #DDE925;
    background: rgba(0, 0, 5, 5, 5);
    width: 100%;
    height: 140%;
    padding: 5px;
}

.ofertas__titulo {
    font-size: 35px;
    margin: 15px 0;
}

.footer {
    background: #333;
    color: #DDE925;
    padding: 10px;
    text-align: center;
}

.footer [class^="icon"] {
    display: inline-block;
    color: #DDE925;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    background: rgb(41, 27, 168);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
}